@use "../modules/variables" as var;
@media (max-width: 600px) {

  .side-text {
    top: 10vw;
    left: 11vw;
    font-size: 7vw;
    letter-spacing: 1vw;
  }

  .header {

    &__mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1vw 5vw;

      & img {
        width: 25vw;
      }
    }

    &__openbtn {
      display: block;
      position: relative;
      cursor: pointer;
      width: 50px;
      height: 50px;
      border: 1px solid #666;
      border-radius: 5px;
      z-index: 10;

      & span{
        display: inline-block;
        transition: all 0.4s;
        position: absolute;
        left: 7.5px;
        height: 1.5px;
        border-radius: 5px;
        background: #666;
        width: 70%;
        &:nth-of-type(1) {
          top: 12px;	
        }
        &:nth-of-type(2) {
          top: 23px;
        }
        &:nth-of-type(3) {
          top: 34px;
        }
      }
    }

    &__openbtn.active {
      & span:nth-of-type(1) {
        top: 18px;
        left: 12px;
        transform: translateY(6px) rotate(-45deg);
        width: 50%;
      }
      & span:nth-of-type(2) {
        opacity: 0;
      }
      & span:nth-of-type(3){
        top: 30px;
        left: 12px;
        transform: translateY(-6px) rotate(45deg);
        width: 50%;
      }
    }

    &__nav {
      display: block;
      background-color: #dcdcdc;
      width: 50%;
      height: 100vh;
      padding: 2vw 5vw;
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      transition: transform .5s;
      z-index: 9999;
      opacity: .95;

      &.active {
        transform: translateX(0);
      }

      & > a {
        display: none;
      }

      
    }

    &__ul {
      flex-direction: column;
    }

    &__li {
      width: 100%;

      &:last-of-type {
        background-color: transparent;
        color: var.$cBlack;
      }

      & > a {
        height: auto;
        padding: 10% 0;
        font-size: 3vw;
      }
    }
  }

  .top {
    height: 100vh;

    &__inner {
      width: 80vw;
    }

    &__title {
      font-size: 8vw;
      line-height: 10vw;
      margin-bottom: 5vw;
    }

    &__sub-title {
      flex-direction: column;

      & > dl {
        width: 100%;
        margin: 0 auto 3vw;

        & > dt {
          padding: 2vw;
          font-size: 3vw;
        }

        & > dd {
          padding: 2vw;
          font-size: 3vw;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .works {
    &__inner {
      padding: 10vw 15vw;
    }

    &__title {
      border-bottom: 0.5vw solid;
      font-size: 4.5vw;
      margin-bottom: 5vw;

      & > span {
        margin-left: 3vw;
        font-size: 2vw;
      }
    }
  }

  .service {
    &__inner {
      padding: 10vw 15vw;
    }

    &__title {
      border-bottom: 0.5vw solid;
      font-size: 4.5vw;
      margin-bottom: 5vw;

      & > span {
        margin-left: 3vw;
        font-size: 2vw;
      }
    }
  }

  .users {
    &__inner {
      padding: 10vw 15vw;
    }

    &__title {
      border-bottom: 0.5vw solid;
      font-size: 4.5vw;
      margin-bottom: 5vw;

      & > span {
        margin-left: 3vw;
        font-size: 2vw;
      }
    }
  }

  .faq {
    &__inner {
      padding: 10vw 15vw;
    }

    &__title {
      border-bottom: 0.5vw solid;
      font-size: 4.5vw;
      margin-bottom: 5vw;

      & > span {
        margin-left: 3vw;
        font-size: 2vw;
      }
    }
  }

  .contact {

    &__inner {
      padding: 10vw 15vw;
    }

    &__title {
      border-bottom: 0.5vw solid;
      font-size: 4.5vw;
      margin-bottom: 5vw;

      & > span {
        margin-left: 3vw;
        font-size: 2vw;
      }
    }

    &__tel {
      width: 80%;

      & .sub-title {
        font-size: 3vw;
      }

      &__contents {
        justify-content: center;

        & > i {
          font-size: 5vw;
        }
      }

      & .text {          
        & > p {
          & > span {
            font-size: 4vw;
          }
        }
      }
    }

    &__mail {

      & table {
        border: none;
        margin-bottom: 7.5vw;
      }

      & .sub-title {
        font-size: 3vw;
        margin-bottom: 3vw;
      }

      & tr {
        display: block;
        border: none;
        margin-bottom: 2vw;
        font-size: 2.7vw;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      & th, & td {
        width: auto;
        display: block;
      }

      & th {
        background-color: transparent;
      }

      & td {

        & select {
          width: 100%;

          & > option {
            font-size: 3vw;
          }
        }

        & input {
          width: 100%;

          &[type="email"] {
            width: 100%;
          }
  
          &[type="file"] {
            padding: 0;
          }
        }

        & .period {
          display: block;

          &__inner {
            width: 100%;

            &:nth-last-of-type(-n+2) {
              margin-bottom: 3%;
            }

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }

        & textarea {
          height: 50vw;
        }
      }

      & .submit-btn {
        width: 50vw;

        & > input {
          padding: 2.5vw 0;
          font-size: 3vw;
          letter-spacing: 1vw;
        }
      }
    }
  }

  .footer {

    &__title {
      border-bottom: 0.5vw solid;
      font-size: 4.5vw;
      margin-bottom: 5vw;

      & > span {
        margin-left: 3vw;
        font-size: 2vw;
      }
    }
  }
}